/* || General setup */
html {
  font-size: 10px;
  background-color: #f0f0f0; /* Changed to lighter shade */
}

body {
  color: #333; /* Darker font color for better readability */
}

/* || typography */
h1 {
  color: #444; /* Softer color for headers */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6); /* Adjusted shadow for clarity */
}

h2 {
  font-size: 2.8rem; /* Slightly smaller */
}

p, li {
  font-size: 1.8rem; /* Increased font size for better readability */
  line-height: 1.6;
}

/* || Layout Changes */
nav a, nav span {
  font-size: 1.8rem; /* Reduced font size */
  color: #555; /* Changed link color */
}
